@media all and (min-width:768px) {
    
    .main-image {
        height: 650px;
    }
    
    .main-image h2 {
        padding: 300px 0 0 20px;
        font-size: 45px;   
    }
    
    .main-image h3 {
        font-size: 30px;
    }

    .profiles {
        display: flex;
    }

    .p-image,.profile {
        padding: 40px 0;
        color: #484848;
        padding-bottom: 50px;
        width: 50%;
    }
    
    .p-image {
        position: static !important;
        object-fit: cover!important;
        vertical-align: bottom!important;
        margin-right: 10px;    
    }
    
    .profile {
        margin-left: 10px;
    }
        
    .profile p {
        font-size: 16px;
    }

    .work {
        padding: 50px 0;
    }
    
    .service i {
        padding-bottom: 20px;
    }
    
    .form-icon i {
        font-size: 50px;
    }
    
    .form-icon a {
        font-size: 20px;
    }
    
    footer {
        height: 100px;
    }
    
    
}

@media all and (min-width:992px) {
    

    .main-image {
        height: 650px;
    }
    
    .main-image h2 {
        padding: 250px 0 0 20px;
        font-size: 50px;   
    }
    
    .main-image h3 {
        font-size: 40px;
        opacity: 0.9;
    }
    
    .profile h4 {
        font-size: 32px;
    }
    
    .profile p {
        font-size: 18px;
    }
    
    .work {
        padding: 70px 0;
    }

    .portfolios {
        display: flex;
    }

    .portfolio {
        width: 50%;
        margin: 0 10px;
        
    }

    .service h4 {
        padding-bottom: 26px;
    }
    
    .service i {
        padding-bottom: 20px;
    }
    
    .service p {
        font-size: 18px;
        padding: 0 50px;
    }
    
}
