* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 100px;
    width: 100%;
    background-color: white;
    position: fixed;
    top:0 ;
    z-index: 10;
}

.header-right {
    float: right;
    margin-top: 25px;
}

.main-image {
    background-image: url(IMG_3981.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
}

.main-image h2 {
    padding: 200px 0 0 20px;
    font-size: 35px;   
}

.main-image h3 {
    padding-left: 20px;
    margin-top: 40px;
    font-size: 25px;
    letter-spacing: 5px;
}

.main-icon {
    width: 100%;
    padding: 10px 0 1px 0;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    background-color: rgb(100, 100, 100, 0.7);
}

.main-icon p {
    font-weight: bold;
}

div#about {
    padding: 50px 0;
}

.p-image,.profile {
    padding: 40px 0;
    color: #484848;
}

.p-image {
    width: 100%;
    border-bottom: 1px solid #484848;
}

.profile {
    border-bottom: 1px solid #484848;
}

.profile h4 {
    font-size: 28px;
    letter-spacing: 3px;
}

.profile h5 {
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.profile p {
    font-size: 16px;
}

.skill-all {
    display: flex;
    justify-content: space-around;
}

.skill {
    text-align: center;
    padding: 100px 0;
}

.portfolios {
    padding: 50px 0;
}

.portfolio {
    padding: 20px 0;
}

.portfolio img {
    width: 100%;
}

.portfolio a {
    color: #484848;
    font-size: 20px;
}

.service {
    padding-bottom: 30px;
    text-align: center;
    color: #484848;
}
.service h4 {
    font-weight: bold;
    padding-bottom: 20px;
}

.service i {
    padding-bottom: 15px;
}

.service p {
    font-size: 14px;
}

.social {
    padding: 50px 0;
}

.direct {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 10px;
    margin-top: 80px;
    text-align: center;
    border: 3px solid rgb(2, 65, 2);
    box-shadow: 7px 7px rgb(1, 27, 1);
}

.form-icon {
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
}

.form-icon i {
    font-size: 35px;
    color: #484848;
}

.form-icon a {
    color: #484848;
}

footer {
    background-color: rgb(2, 65, 2);
    height: 80px;
}

footer p {
    color: white;
    padding: 20px 0 0 10px;
}
